@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-primary btn-lg btn-block">
        <span class="glyphicon glyphicon-circle-arrow-down">Withdrawal</span></a>
        <a href="#" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-flash">Quick Cash $100</span>
        </a>
        <a href="@Url.Action("Details", "CheckingAccount")" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-question-sign">Balance Inquiry</span>
        </a>



    </div>
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-print">Print Statement</span>
        </a>
        <a href="#" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-transfer">Transfer Funds</span>
        </a>
        <a href="#" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-circle-arrow-up">Deposit</span>
        </a>
    </div>

</div>






<div class="jumbotron">
    <h1>Middle Valley Community Bank</h1>
    <p class="lead">Middle Valley Community Bank offers thee first-ever web-based ATM.
        Give it a try today!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Powered By ASP.Net</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Log In</h2>
        <p>
            Access your existing account.
        </p>
        <p>@Html.ActionLink("Register", "Register", "Account", null, new {@class = "btn btn-default"})</p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p>Open an account with us</p>
        <p>@Html.ActionLink("Log in", "Login", "Account", null, new {@class="btn btn-default" })</p>
    </div>
    
</div>

You are using @Request.Browser.Platform, and that's okay